@using NewsSystem.Data.ViewModels.Articles

@model IEnumerable<NewsOverviewClientViewModel>

<h5 class="head">@ViewBag.TagName</h5>

@if (Model.Count() > 0)
{
    {
        var first = Model.First();
        <div class="col-md-7 printing-content">
            <div class="print-main">
                @*<h3>@first.Title</h3>*@
                <a href="@Url.Action("Details", "News", new { id = first.Id, title = Html.CleanerUrl(first.Title)  })">@first.Title</a>
                <p class="sub_head">
                    Posted by <a href="#">Admin</a> on @Html.DisplayFor(m => first.CreatedOn)
                </p>
                <a href="@Url.Action("Details", "News", new { id = first.Id, title = Html.CleanerUrl(first.Title) })">
                    @Html.DisplayFor(m => first.CoverImage)
                </a>
                <p class="ptext">@Html.Raw(first.Summary)</p>
            </div>
            <div class="print-grids">
                @foreach (var news in Model)
                {
                    if (news.Id != first.Id)
                    {
                        <div class="print-grid">
                            <div class="print-img">
                                <a href="@Url.Action("Details", "News", new { id = news.Id, title = Html.CleanerUrl(news.Title)  })">@Html.DisplayFor(m => news.CoverImage)</a>
                            </div>
                            <div class="print-text">
                                <a class="bhead" href="@Url.Action("Details", "News", new { id = news.Id, title = Html.CleanerUrl(news.Title)  })">@news.Title</a>
                                <p>@Html.Action("NewsTags", "Tag", new { newsId = news.Id }) | @Html.DisplayFor(m => news.CreatedOn)</p>
                                <p>@Html.Raw(news.Summary)</p>
                                <a class="more" href="@Url.Action("Details", "News", new { id = news.Id, title = Html.CleanerUrl(news.Title)  })">...Read More</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                }
            </div>
        </div>
    }
}

@Html.Partial("_CommonSuroundings")
