@using NewsSystem.Data.ViewModels.Albums
@using NewsSystem.Web.Common.Constants

@model ICollection<AlbumGridViewModel>

<div class="panel @CommonStyles.PanelStyle">
    <div class="panel-heading">
        <h3 class="panel-title">Albums</h3>
    </div>
    <div class="list-group panel-body">
        @foreach (var album in Model)
        {
            <div class="col-lg-3 word-wraped col-md-4 col-xs-6 thumb" style="margin-bottom: 30px;">
                <p>@album.Title</p>
                <div class="thumbnail">
                    <img src="@Url.Action("NSImage", "NSImage", new { Area = string.Empty, imageId = album.CoverImageId })" alt="No image found" class="img-responsive albums-grid-container" />
                </div>
                <a href="@Url.Action("Edit", "Album", new { albumId = album.Id})" class="btn btn-sm btn-default">Edit</a>
                @Ajax.ActionLink("Delete", "Delete", "Album",
                new
                {
                    albumId = album.Id,
                },
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "albums-grid",
                },
                new { @class = "btn btn-sm btn-danger" })
            </div>
        }
    </div>
</div>