@using NewsSystem.Data.ViewModels.Albums
@using NewsSystem.Web.Helpers

@model AlbumEditViewModel

@Styles.Render("~/Content/bootstrap-tokenfield")

<div class="row padding-form">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>@Model.Name</strong>
        </h3>
    </div>

    @using (Html.BeginForm("Edit", "Album", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Id, new { @Value = Model.Id })
        <div class="list-group panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Text, new { })
                @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Text, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Tokens, new { @for = "tokenfield" })
                <input type="text" class="form-control" id="tokenfield" name="Tokens" value="@string.Join(", ", Model.Tokens.ToArray())" />
            </div>
            <div class="form-group">
                <div>
                    <label for="AlbumPostedImages">Chose picture</label>
                    <input type="file" name="AlbumPostedImages" id="AlbumPostedImages" multiple class="btn btn-default" />
                </div>
            </div>
            <div class="form-group">
                <input type="button" name="ChoseFromGallery" id="ChooseImg" class="btn btn-default" value="Gallery" />
            </div>

            <div>
                <button type="submit" value="Edit" class="btn btn-default">Edit</button>
                <a href="@Url.Action("Index", "AlbumCategories")" class="btn btn-sm btn-danger">Cancel</a>
            </div>
        </div>
    }

    <div id="album-edit-nsimages-grid">
        @Html.Action("NSImagesAlbumGrid", "NSImage", new { albumId = Model.Id })
    </div>

    <div class="modal fade" id="choose-img-modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <input type="text" name="NSImageText" value=" " placeholder="By text..." />
                    <input type="text" name="NSImageTags" value=" " placeholder="By tags..." />
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    @Html.Action("NSImagesAlbumChooseGrid", "NSImage", new { albumId = Model.Id })
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    <a href="#" class="btn btn-success">Aprove</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/admin-panel-albums")

    <script>
        APP.Albums.initEditTokens('@Url.AbsoluteAction("GetAlbumTokens", "Album")');

        $(document).ready(function () {
            $("#ChooseImg").click(function () {
                $("#choose-img-modal").modal();
            });
        });
    </script>
}
