@using NewsSystem.Data.ViewModels.Albums
@using NewsSystem.Web.Helpers

@model AlbumEditViewModel

@Styles.Render("~/Content/bootstrap-tokenfield")

<div class="row padding-form">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>@Model.Name</strong>
        </h3>
    </div>

    @using (Html.BeginForm("Edit", "Album", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Id, new { @Value = Model.Id })
        <div class="list-group panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Text, new { })
                @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Text, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Tokens, new { @for = "tokenfield" })
                <input type="text" class="form-control" id="tokenfield" name="Tokens" value="@string.Join(", ", Model.Tokens.ToArray())" />
            </div>
            <div class="form-group">
                <div>
                    <label for="AlbumPostedImages">Chose picture</label>
                    <input type="file" name="AlbumPostedImages" id="AlbumPostedImages" multiple class="btn btn-default" />
                </div>
            </div>

            <div>
                <button type="submit" value="Edit" class="btn btn-default">Edit</button>
                <a href="@Url.Action("Index", "AlbumCategories")" class="btn btn-sm btn-danger">Cancel</a>
            </div>
        </div>
    }

    <div id="album-edit-nsimages-grid">
        @Html.Action("NSImagesAlbumGrid", "NSImage", new { albumId = Model.Id })
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/admin-panel-albums")

    <script>
        APP.Albums.initEditTokens('@Url.AbsoluteAction("GetAlbumTokens", "Album")');
    </script>
}
