@Styles.Render("~/Content/bootstrap-tokenfield")

<div class="row">
    <div class="col-md-2">
        @Html.Action("CategoryTree", "Category")
    </div>
    <div id="albums-grid" class="col-md-8">
        @Html.Action("AlbumsGrid", "Album", new { })
    </div>
    <div class="col-md-2 text-center">
        <div>
            <a href="@Url.Action("Create", "Album", null)" class="btn btn-default btn-block">Add album</a>
        </div>
        <br />
        <div>
            @Html.Partial("SearchAlbums")
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/admin-panel-albums")

    <script>
        APP.Albums.init();
    </script>
}