@using NewsSystem.Data.ViewModels.Articles
@using NewsSystem.Web.Helpers

@model ArticleCreateViewModel

<div class="container-fluid">
    <div class="row">
        @using (Html.BeginForm("Create", "Article", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-md-2 word-wraped">
                @for (int i = 0; i < Model.ChosenCategories.Count; i++)
                {
                    @Html.HiddenFor(m => m.ChosenCategories[i].Title)

                    <h4>
                        <strong>@Model.ChosenCategories[i].Title</strong>
                    </h4>
                    for (int j = 0; j < Model.ChosenCategories[i].Children.Count; j++)
                    {
                        <div>
                            @Html.EditorFor(m => m.ChosenCategories[i].Children[j])
                        </div>
                    }
                }
            </div>
            <div class="col-md-10">
                <div class="list-group panel-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Title, new { })
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description, new { })
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Summary, new { })
                        @Html.TextAreaFor(m => m.Summary, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Summary, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.IsMain, new { })
                        @Html.CheckBoxFor(m => m.IsMain, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.IsMain, null, new { @class = "text-danger" })
                    </div>
                    @if (Model.IsMain)
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.IsTopMain, new { })
                            @Html.CheckBoxFor(m => m.IsTopMain, new { @class = "form-control" })
                        </div>
                    }
                    @Html.ValidationMessageFor(m => m.IsTopMain, null, new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.HiddenFor(m => m.CoverImageId, new { id = "cover-image-input", @class = "" })
                        <label for="CoverImageChoice">Chose cover image</label>
                        <input type="button" name="CoverImageChoice" id="CoverImageChoice" class="btn btn-default" value="Images" />
                        @Html.ValidationMessageFor(m => m.CoverImageId, null, new { @class = "text-danger" })
                    </div>
                    @*<div class="form-group">
                            <a href="#" class="btn btn-default">Chose album</a>
                            @Html.LabelFor(m => m.Summary, new { })
                            @Html.TextAreaFor(m => m.Summary, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Summary, null, new { @class = "text-danger" })
                        </div>*@
                </div>

                <div>
                    <button type="submit" value="Create" class="btn btn-default">Create</button>
                    <a href="@Url.Action("Index", "NSImage")" class="btn btn-sm btn-danger">Cancel</a>
                </div>
            </div>
        }
    </div>
</div>

<div id="cover-image-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <br /><br />
                <div class="form-group">
                    <input type="text" id="nsimagesSearchTextfield" name="NSImageSearchText" value="@(this.ViewBag.LastText != null ? this.ViewBag.LastText : string.Empty)" class="form-control" placeholder="By text..." />
                </div>
                <div class="form-group">
                    <input type="text" id="nsimagesSearchTokenfield" name="NSImageSearchTags" value="" class="form-control" placeholder="By tags..." />
                </div>
                <div class="text-center">
                    <span class="input-group-btn">
                        <a href="@Url.Action("NSImagesCoverImageGrid", "NSImage", new { selectedId = this.ViewBag.SelectedId })"
                           class="btn btn-primary"
                           id="search-cover-images-grid">
                            <i class="fa fa-search"></i> Search
                        </a>
                    </span>
                </div>
            </div>
            <div id="cover-image-modal-grid">
                @Html.Action("NSImagesCoverImageGrid", "NSImage", new { selectedId = Model.CoverImageId })
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/admin-panel-common-modal-triggers")
    @Scripts.Render("~/bundles/tinymce")

    <script>
        $(document).ready(function () {
            APP.CommonTagsModule.init('@Url.AbsoluteAction("GetTags", "Tag")')
            APP.TinymceInitializer.basicInit();
            APP.CommonModalTriggers.initCoverImageEvents();
            //APP.CommonModalTriggers.initAlbumSelectEvents();

            $('.input-category-box').change(function () {
                var result = $(this).is(':checked');
                alert(result.toString());
            })
        })
    </script>
}
