@using NewsSystem.Web.Helpers

<div class="row">
    <div class="col-md-9" id="images-grid-wrapper">
        @Html.Action("NSImagesGrid", "NSImage", new { })
    </div>

    <div class="col-md-3 text-center">
        <div >
            <a href="@Url.Action("Create", "NSImage", new { })" class="btn btn-default btn-block">Add image</a>
        </div>
        <br /> 
        <div >
            @Html.Partial("SearchNSImages")
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/admin-panel-ns-images")

    <script>
        $(document).ready(function () {
            APP.NSImages.indexInit();
            APP.CommonTagsModule.initByElementId('@Url.AbsoluteAction("GetTags", "Tag")', 'search-images-by-tags-sfield');
        })
    </script>
}