<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/images/news-site-icon.png" rel="shortcut icon" type="image/x-icon" />
    <title>@(ViewBag.Title ?? CommonSettings.SiteDefaultTitle)</title>
    @RenderSection("OpenGraph", required: false)
    @Styles.Render("~/Content/bootstrap-theme")
    @Styles.Render("~/Content/client-side-css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>

</head>

@{ 
    
}
<body class="word-wraped">
    <!-- header-section-starts -->
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="@Url.Action("Index", "Home", new { })"><h1>@CommonSettings.SiteDefaultTitle </h1></a>
            </div>
            <div class="navigation">
                <ul id="widgets">
                    <li class="time-widget">
                        @Html.Partial("_Clock")
                    </li>
                    <li id="weather-widget-li" class="weather-widget">
                        @*@Html.Action("City", "Weather")*@
                    </li>
                </ul>
            </div>
            @*<div class="clearfix"></div>*@
        </div>
    </div>
    <div class="container">
        @Html.Action("TopNavbar", "Category")
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="col-md-3 footer-links">
                    <h4>Other pages and things</h4>
                    <a href="#">Design a creative Blog</a>
                    <a href="#">Design a iPad Website</a>
                    <a href="#">Single Page sales portfolio </a>
                    <a href="#">Flat product website in Photoshop</a>
                    <a href="#">Design a creative Blog</a>
                    <a href="#">Design a iPad Website</a>
                    <a href="#">Single Page sales portfolio </a>
                    <a href="#">Flat product website</a>
                </div>
                <div class="col-md-3 footer-links span_66">
                    <a href="#">Flat product website in Photoshop</a>
                    <a href="#">Design a creative Blog</a>
                    <a href="#">Design a iPad Website </a>
                </div>
                <div class="col-md-3 footer-links">
                    <h4>Relevant Articles</h4>
                    <a href="#">Design a creative Blog</a>
                    <a href="#">Design a iPad Website</a>
                    <a href="#">Single Page sales portfolio </a>
                    <a href="#">Flat product website</a>
                    <a href="#">Design a creative Blog</a>
                </div>
                <div class="col-md-3 footer-links">
                    <h4>Other pages and things</h4>
                    <a href="#">Blaz Robar</a>
                    <a href="#">Nick Toranto</a>
                    <a href="#">Joisp Kelava</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="copyrights">
                    <p>Konstructs © 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/client-side-bootstrap")
    @Scripts.Render("~/bundles/common-scripts")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            APP.Global.initTime();
            APP.Global.initWeather('@Url.AbsoluteAction("City", "Weather")');
        });
    </script>
</body>
</html>
