<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/bootstrap-theme")
    @Styles.Render("~/Content/client-side-css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="index.html"><h1>newssystem</h1></a>
            </div>
            <div class="pages">
                <ul>
                    <li><a class="active" href="index.html">Articles</a></li>
                    <li><a href="3dprinting.html">3D Printers</a></li>
                    <li><a href="404.html">Tutorials</a></li>
                </ul>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="contact.html">Advertise</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a class="active" href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="header-bottom">
            <div class="type">
                <h5>Article Types</h5>
            </div>
            <span class="menu"></span>
            <div class="list-nav">
                <ul>
                    <li><a href="3dprinting.html">3D Printing</a></li>|
                    <li><a href="materials.html">Materials</a></li>|
                    <li><a href="printing.html">Printing</a></li>|
                    <li><a href="filestoprint.html">Files to Print</a></li>|
                    <li><a href="404.html">Videos</a></li>|
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
            <!-- script for menu -->
            <script>
				$( "span.menu" ).click(function() {
				  $( ".list-nav" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
            </script>
            <!-- script for menu -->

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="col-md-3 footer-links">
                    <h4>Other pages and things</h4>
                    <a href="#">Design a creative Blog</a>
                    <a href="#">Design a iPad Website</a>
                    <a href="#">Single Page sales portfolio </a>
                    <a href="#">Flat product website in Photoshop</a>
                    <a href="#">Design a creative Blog</a>
                    <a href="#">Design a iPad Website</a>
                    <a href="#">Single Page sales portfolio </a>
                    <a href="#">Flat product website</a>
                </div>
                <div class="col-md-3 footer-links span_66">
                    <a href="#">Flat product website in Photoshop</a>
                    <a href="#">Design a creative Blog</a>
                    <a href="#">Design a iPad Website </a>
                </div>
                <div class="col-md-3 footer-links">
                    <h4>Relevant Articles</h4>
                    <a href="#">Design a creative Blog</a>
                    <a href="#">Design a iPad Website</a>
                    <a href="#">Single Page sales portfolio </a>
                    <a href="#">Flat product website</a>
                    <a href="#">Design a creative Blog</a>
                </div>
                <div class="col-md-3 footer-links">
                    <h4>Other pages and things</h4>
                    <a href="#">Blaz Robar</a>
                    <a href="#">Nick Toranto</a>
                    <a href="#">Joisp Kelava</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="copyrights">
                    <p>Konstructs © 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
                </div>
            </div>
        </div>
    </div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", null, new { Area = string.Empty, @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", null, new { Area = string.Empty })</li>
                        <li>@Html.ActionLink("About", "About", "Home", null, new { Area = string.Empty })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { Area = string.Empty })</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    @*<div class="container body-content">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common-scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
